*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    max-width: 100vw;
    height: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans serif;
}
.calculatrice{
    background-color: tomato;
    display: flex;
    flex-direction: column;
}
.ecran{
    width: 100%;
    height: 100px;
    background-color:blue;
    margin-bottom: 10px;
    border-radius: 5x;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 5px;
    font-size: 25px;
}
.touches{
    display: grid;
    grid-template-columns: repeat(4, 50px);
    grid-template-rows: repeat(5, 50px);
    grid-gap: 7px;
}